<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>createEvent</title>
</head>
<body>

<div align="center">
    <h1>Appointment</h1>
    <table>
        <thead>
        <tr>
            <th>From Date</th>
            <th>To Date</th>
            <th>Notes</th>
        </tr>
        <tr>
            <td th:text="${appointment.startDate}"></td>
            <td th:text="${appointment.endDate}"></td>
            <td th:text="${appointment.notes}"></td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
</body>
</html>