<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>createEvent</title>
</head>
<body>
    <h1>Create new Event</h1>

    <form action="#" th:action="@{/addEvent}" th:object="${appointment}" method="post">

                <label>Description:</label>
                <input type="text" th:field="*{notes}" /><br/>

                <label name="startDateTime">Start date</label>
                <input type="date" th:field="*{startDate}" /><br/>

                <label name="endDateTime">End date</label>
                <input type="date" th:field="*{endDate}" /><br/>

                <input type="submit" value="Submit"/>

    </form>
</body>
</html>